test*
*.out
*.zip
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.div
*.synctex.gz
*.toc
*/*.div
*/*.out
*/*.zip
*/*.aux
*/*.bbl
*/*.blg
*/*.fdb_latexmk
*/*.fls
*/*.log
*/*.pdf
*/*.synctex.gz
*/*.toc
